<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>

  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY1Q_m4xHimx3yIWro6HcUX64u0YD7V_k"
  async defer></script>
  <script src="/js/app.js" defer></script>
</head>
<body>
  <div class="main-content">
    {{>header}}

    <p>Use this site to get to your weather!</p>
    <form>
      <input type="text" name="address" placeholder="Enter address">
      <button type="submit">Search</button>
    </form>

    <p id="message">The forecast will appear here...</p>
    <div id="map">
      Google Map
    </div>

  </div>
  {{>footer}}
</body>
</html>